<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">    
    <title>Blog Application</title>
    </style>
</head>
<body class="index-flex-container">
    <div>
        <h1>Blog Application</h1>
        
        <h3 class="create-post">
            <a href="/startNewPosts">Start a New Post</a>
        </h3> 

        <!-- Create drop down to show all posts.-->
        <div>            
            <button onclick="myFunction()" class="dropbtn">ALL Posts</button>
            <div id="myDropdown" class="dropdown-content">
                <% for (let post of posts) { %>                    
                    <a class="link" href="/viewPosts/<%= post.title %>">
                        <%= post.title %>
                    </a>                    
                <% } %>
            </div>
        </div>

    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>